{% extends 'messanger/layout.html' %}


{% block title %}
    Регистрация
{% endblock title %}


{% block content %}
    <main>
        
        {% if not user.is_authenticated %}
        <div class="reg-form">
            <form method="post" class="reg-form">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <p>{{ field.label_tag }}<br>{{ field }}</p>
                {% endfor %}

                    
                <input type="submit" value="Зарегестрироваться" class="reg-button">
                </form>
                <a href="{% url 'login' %}"><u>Есть аккаунт?</u></a>
        </div> 
        {% else %}
            <h1>Вы уже зарегестрированы</h1>
        {% endif %}
    </main>
    
{% endblock content %}
    